<div class="jumbotron jumbotron-fluid jumbotron-pro">
    <div class="container">
        <h1 class="display-4">
            Global Azure Bootcamp 2018
        </h1>
        <p class="lead">
            22. April 2018, Wissensturm Linz
        </p>
        <p>
            Das weltweite Community-Event rund um Softwareentwicklung mit der Microsoft Azure Cloud.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://www.eventbrite.de/e/global-azure-bootcamp-austria-2018-tickets-41621435835"
                role="button">
                Jetzt anmelden
            </a>
        </p>
    </div>
</div>