<div class="jumbotron jumbotron-fluid jumbotron-junior">
    <div class="container">
        <h1 class="display-4">
            Junior Bootcamp 2018
        </h1>
        <p class="lead">
            21. April 2018, Wissensturm Linz
        </p>
        <p>
            Das Community-Event für junge Coder, die Neugierig auf Cloud Computing sind.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://www.eventbrite.de/e/global-azure-bootcamp-austria-2018-tickets-41621435835"
                role="button">
                Jetzt anmelden
            </a>
        </p>
    </div>
</div>