---
layout: default
---

{% for page in site.pages %}
	{% if page.page-category == "session" or page.page-category == "junior-session" %}
        <h1 class="speaker-title">{{ page.title }}<br/>
            {% if page.page-category == "session" %}
                <span class="badge badge-pill badge-primary">Azure Bootcamp</span>
            {% else %} 
                <span class="badge badge-pill badge-success">Junior Bootcamp</span>
            {% endif %}
        </h1>

		{% if page.image != null %}
		<img class="rounded float-right" src="{{ site.baseurl }}/assets/{{ page.image }}" alt="{{ page.title}} Logo" />
		{% endif %}

        {{ page.content | markdownify }}

        <ul>
            {% assign speakers = page.speaker-id | split: ' ' %}
            {% for speaker in speakers %}
                {% for speakerpage in site.pages %}
                    {% if speakerpage.page-category == "speaker" and speakerpage.url contains speaker %}
                        <li><a href="{{ site.baseurl }}{{ speakerpage.url }}">{{ speakerpage.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
	{% endif %}
{% endfor %}